flush /opt/app/bin/envs/node-redis-shake.env << NODE_ENV_EOF
SERVICES="\$SERVICES redis-shake/true/tcp:9320"
NODE_CTL="redis-shake"
MY_NODE_ID="{{- getv "/host/node_id" -}}"
CLUSTER_ID="{{- getv "/cluster/cluster_id" -}}"
SOURCE_TYPE="{{- getv "/env/source.type" -}}"
SOURCE_ADDRESS="{{- getv "/env/source.address" -}} "
SOURCE_PASSWORD='{{- getv "/env/source.password_raw" -}}'
TARGET_TYPE="{{- getv "/env/target.type" -}}"
TARGET_ADDRESS="{{- getv "/env/target.address" -}}"
TARGET_PASSWORD='{{- getv "/env/target.password_raw" -}}'
NODE_ENV_EOF


